<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
  <h3 md-dialog-title>{{ title }}</h3>
  <div md-dialog-content>
    <md-input-container color="primary" floatPlaceholder="float" class="full-width">
      <input formControlName="name" mdInput type="text" placeholder="项目名称">
    </md-input-container>
    <md-input-container color="primary" floatPlaceholder="float" class="full-width">
      <input formControlName="desc" mdInput type="text" placeholder="项目描述">
    </md-input-container>
    <app-image-list-select
      formControlName="coverImg"
      title="请选择封面"
      col="6"
      rowHeight="64px"
      [items]="coverImgs"
      [useSvgIcon]="false"></app-image-list-select>
  </div>
  <div md-dialog-actions>
    <button [disabled]="form.invalid" md-raised-button color="primary" type="submit">保存</button>
    <button md-dialog-close md-button type="button">关闭</button>
  </div>
</form>
