md-icon.avatar {
  margin: 12px;
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

md-card {
  margin: 20px auto;
  width: 600px;

  .md-card-actions {
    margin-left: 0;
    margin-right: 0;
  }
}
