:host {
  display: flex;
  flex-wrap: wrap;
  .card {
    margin: 10px;
    flex: 0 1 360px;
    min-height: 360px;
  }
  .fab-btn {
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 998;
  }
}
