<div class="task-lists">
  <app-task-list
    *ngFor="let list of lists"
    appDraggable="true"
    [dragTag]="'task-list'"
    [dragData]="list"
    [dragStartClass]="'drag-enter'"
    appDroppable
    [dropTags]="['task-item', 'task-list']"
    [dragEnterClass]="'drag-enter'"
    (dropped)="onDroppedHandler($event, list)"
    [style.order]="list.order"
    class="task-list-container">
    <app-task-header
      (newTask)="openNewTaskDialog($event)"
      (copyTask)="openCopyTaskDialog($event)"
      (editTaskListRequest)="editTaskListHandler(list)"
      (deleteTaskListRequest)="deleteTaskListHandler(list)"
      [listId]="list.id"
      [headerName]="list.name"></app-task-header>
    <app-task-item
      [item]="task"
      (click)="onItemClick(task)"
      *ngFor="let task of list.tasks"></app-task-item>
  </app-task-list>
</div>

<button (click)="onNewTaskListClick()" md-fab type="button" class="fab-btn">
  <md-icon>add</md-icon>
</button>
