<md-sidenav-container [class.my-dark-theme]="dark">
  <md-sidenav #sidenav mode="over" opened="false" position="start">
    <app-sidebar></app-sidebar>
  </md-sidenav>
  <div class="site">
    <header>
      <app-header
        (toggleSidebarRequest)="sidenav.toggle()"
        (toggleThemeRequest)="toggleTheme($event)"></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</md-sidenav-container>
