@import '~@angular/material/theming';

@include mat-core();

$my-app-primary: mat-palette($mat-blue);
$my-app-accent: mat-palette($mat-amber, A200, A100, A400);
$my-app-danger: mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-danger);
@include angular-material-theme($my-app-theme);

$my-dark-primary: mat-palette($mat-blue-grey);
$my-dark-accent: mat-palette($mat-deep-orange);
$my-dark-danger: mat-palette($mat-red);
$my-dark-theme: mat-dark-theme($my-dark-primary, $my-dark-accent, $my-dark-danger);

md-sidenav-container.my-dark-theme,
.cdk-overlay-container.my-dark-theme {
  @include angular-material-theme($my-dark-theme);
}
